# REPORTE INTERVENTORIA AEROESTUDIOS GNSS

# Urbano Fotocontrol

In [1]:
import os; import pandas as pd;import geopandas as gpd;import glob;import re;import numpy as np

In [2]:
#definir municipio 
mun="\\Sopetran"
fmun=r"D:\PROYECTOS 2023\AEROESTUDIOS\INTERVENTORIA GNSS\Municipios"
frev=fRev=r"D:\PROYECTOS 2023\AEROESTUDIOS\INTERVENTORIA GNSS\Revisión"+mun
fmun=fmun+mun

### *Estructura digital*

In [3]:
folder="\\Urbano-Fotocontrol"
path=fmun+folder
fRuCal=pd.DataFrame(os.listdir(path))
fRuCal

                         0
0    1. Archivo geografico
1    2. Hojas descriptivas
2    2.1 Hoja de ocupacion
3           3. Datos rinex
4         3.1 Datos crudos
5   4. Efemerides precisas
6   5. Reportes de calculo
7  6. Registro Fotografico
8           7. Coordenadas

### *Verificación Shapefile*

In [4]:
#verificación Shapefile
fshp=fmun+folder+"\\1. Archivo geografico"

for filename in glob.iglob(fshp+"\\*.shp"):
    print(filename)
    shp=gpd.read_file(filename)
    name=filename.split('\\1. Archivo geografico\\')
    print("----------> "+name[1]+" puntos: "+str(shp.geometry.count()))
    puntos=shp[["NAME","ESTE","NORTE","Altura_Ort"]]; print(puntos)

D:\PROYECTOS 2023\AEROESTUDIOS\INTERVENTORIA GNSS\Municipios\Sopetran\Urbano-Fotocontrol\1. Archivo geografico\SOPETRAN_Urbano_Fotocontrol.shp
----------> SOPETRAN_Urbano_Fotocontrol.shp puntos: 7
      NAME         ESTE        NORTE  Altura_Ort
0  FU-0543  4696513.437  2278867.039     694.410
1  FU-0544  4697774.027  2277162.550     846.693
2  FU-0545  4696843.917  2276313.892     815.967
3  FU-0546  4695435.407  2275721.192     697.757
4  FU-0547  4695030.508  2276531.209     648.339
5  FU-0548  4695646.501  2277762.987     649.920
6  FU-0549  4696190.181  2277183.893     713.124

### *Verificación Hojas descriptivas*

In [5]:
#Verificación hojas descriptivas ---> comparación con puntos del Shapefile. Devuelve una matriz con los valores que no estan incluidos
hcampo=fmun+folder+"\\2. Hojas descriptivas"
print( "$~-----------> 2 Hojas descriptivas")
files_campo=os.listdir(hcampo)
df_filescampo=pd.DataFrame(files_campo)
Hojas_campo=[i.split('.')[0] for i in files_campo]
print(df_filescampo)
print("Hojas de Descripción:  -->"+str(len(files_campo)))
hone=[x for x in Hojas_campo if x not in puntos.values]
print("@@ COINCIDENCIA HOJAS DE DESCRIPCION @@")
print("@@ --->  Todas las descripciones Coinciden con Shp: "+str(shp.geometry.count())) if len(hone)==0 else print(hone)

$~-----------> 2 Hojas descriptivas
                 0
0      FU-0543.jpg
1      FU-0544.jpg
2      FU-0545.jpg
3      FU-0546.jpg
4      FU-0547.jpg
5      FU-0548.jpg
6      FU-0549.jpg
7  Hojas_mejoradas
Hojas de Descripción:  -->8
@@ COINCIDENCIA HOJAS DE DESCRIPCION @@
['Hojas_mejoradas']

## *Verificiación Hojas de Ocupación*

In [6]:
#Verificación Hojas de ocupación
hcampo1=fmun+folder+"\\2.1 Hoja de ocupacion"
##Base folder 

for base in glob.iglob(hcampo1+"\\**\\**.*",recursive=True):
    hcampo2=base.split("\\2.1 Hoja de ocupacion")
    print(hcampo2[1])
##Rover Folder
files_ocup=os.listdir(hcampo1+"\\Rover") # --> *set de Rover File
files_ocup0=[i.split('.')[0] for i in files_ocup]
print("Hojas de Ocupación:  -->"+str(len(files_ocup)))
hocu=[x for x in files_ocup0 if x not in puntos.values]
print("@@ COINCIDENCIA HOJAS DE OCUPACION @@")
if len(hocu)==0:
    print("@@ --->  Todas las descripciones Coinciden con Shp: "+str(shp.geometry.count())) 
else:
    print("@@ NO COINCIDEN TODAS LAS HOJAS DE OCUPACIÓN  ---->:"+str(len(hocu)))
    print(pd.DataFrame(hocu))

\Base\2023-03-12-071\05761004.jpg
\Base\2023-03-13-072\05761004.jpg
\Base\2023-03-14-073\05761004.jpg
\Base\2023-03-15-074\05761004.jpg
\Base\2023-03-16-075\05761004.jpg
\Rover\FU-0543.jpg
\Rover\FU-0544.jpg
\Rover\FU-0545.jpg
\Rover\FU-0546.jpg
\Rover\FU-0547.jpg
\Rover\FU-0548.jpg
\Rover\FU-0549.jpg
Hojas de Ocupación:  -->7
@@ COINCIDENCIA HOJAS DE OCUPACION @@
@@ --->  Todas las descripciones Coinciden con Shp: 7

### *Verificación archivos Rinex y Raw data*

##### *Rinex Data*

In [7]:
rinex=fmun+folder+"\\3. Datos rinex"
rinexdf=pd.DataFrame(os.listdir(rinex))
print("Carpetas Rinex");print(rinexdf)
listrinex=[]
for rinex1 in glob.iglob(rinex+"\\**\\**.*",recursive=True):
    lista0=rinex1.split("\\3. Datos rinex\\")

    lista0=str(lista0[1])
    listrinex.append(lista0)

listrinex=[i.split('\\') for i in listrinex]
rinex=pd.DataFrame(listrinex)
rinex

puntosunicos=rinex.iloc[:,2].unique()  
print("Puntos: "+str(len(puntosunicos)))
ptosunicos=pd.DataFrame(puntosunicos)
ptosunicos

Carpetas Rinex
                0
0  2023-03-12-071
1  2023-03-13-072
2  2023-03-14-073
3  2023-03-15-074
Puntos: 8

          0
0  05761004
1   FU-0548
2   FU-0549
3   FU-0544
4   FU-0543
5   FU-0546
6   FU-0545
7   FU-0547

##### *Raw Data*

In [8]:
raw0=fmun+folder+"\\3.1 Datos crudos"
raw2=pd.DataFrame(os.listdir(raw0))
print("Carpetas Raw Data");print(raw2)
listraw=[]
for raw1 in glob.iglob(raw0+"\\**\\**.*",recursive=True):
       
    lista0=raw1.split("\\3.1 Datos crudos\\")

    lista0=str(lista0[1])
    listraw.append(lista0)

listraw=[i.split('\\') for i in listraw]
raw=pd.DataFrame(listraw)
raw

puntosunicos1=raw.iloc[:,2].unique()  
print("Puntos: "+str(len(puntosunicos1)))
ptosunicos1=pd.DataFrame(puntosunicos1)
ptosunicos1

Carpetas Raw Data
                0
0  2023-03-12-071
1  2023-03-13-072
2  2023-03-14-073
3  2023-03-15-074
Puntos: 8

          0
0  05761004
1   FU-0548
2   FU-0549
3   FU-0544
4   FU-0543
5   FU-0546
6   FU-0545
7   FU-0547

#### *Comparación carpetas Rinex y Raw Data*
* *Carpetas por días* 

###### *True=Cumple ~False=No cumple*

In [9]:
#comparación entre df Rinex y Raw

comparacion=rinexdf.isin(raw2.iloc[:,0])
comparacion

      0
0  True
1  True
2  True
3  True

#### *Comparación carpetas Rinex y Raw Data*
* *Carpetas por puntos*

In [10]:
#comparacion entre subcarpetas
print("@@ --->Concidencia archivos Rinex y Raw Data")
comparacion1=ptosunicos.isin(ptosunicos1.iloc[:,0])
comparacion1

@@ --->Concidencia archivos Rinex y Raw Data

      0
0  True
1  True
2  True
3  True
4  True
5  True
6  True
7  True

### *Verificación Efemerides*

In [11]:
#Verificación Efemerides
fsp3=fmun+folder+"\\4. Efemerides precisas"
print( "$~---------> 4. Efemerides precisas")
for sp3 in glob.iglob(fsp3+"\\**\\**.*",recursive=True):
    print(sp3)

$~---------> 4. Efemerides precisas
D:\PROYECTOS 2023\AEROESTUDIOS\INTERVENTORIA GNSS\Municipios\Sopetran\Urbano-Fotocontrol\4. Efemerides precisas\2023-03-12-071\IGS0OPSRAP_20230710000_01D_15M_ORB.SP3.gz
D:\PROYECTOS 2023\AEROESTUDIOS\INTERVENTORIA GNSS\Municipios\Sopetran\Urbano-Fotocontrol\4. Efemerides precisas\2023-03-13-072\IGS0OPSRAP_20230720000_01D_15M_ORB.SP3.gz
D:\PROYECTOS 2023\AEROESTUDIOS\INTERVENTORIA GNSS\Municipios\Sopetran\Urbano-Fotocontrol\4. Efemerides precisas\2023-03-14-073\IGS0OPSRAP_20230730000_01D_15M_ORB.SP3.gz
D:\PROYECTOS 2023\AEROESTUDIOS\INTERVENTORIA GNSS\Municipios\Sopetran\Urbano-Fotocontrol\4. Efemerides precisas\2023-03-15-074\IGS0OPSRAP_20230740000_01D_15M_ORB.SP3.gz

### *Reportes de calculo*

In [12]:
fpdf=fmun+folder+"\\5. Reportes de calculo"
print(fpdf)
print( "$~---------> 5. Reportes de calculo")
for pdf in glob.iglob(fpdf+"\\**\\**.*",recursive=True):
    print(pdf.split("5. Reportes de calculo")[1])

D:\PROYECTOS 2023\AEROESTUDIOS\INTERVENTORIA GNSS\Municipios\Sopetran\Urbano-Fotocontrol\5. Reportes de calculo
$~---------> 5. Reportes de calculo
\Base\Derivaciones de puntos.pdf
\Base\Informe de ajuste de red.pdf
\Base\Informe de procesamiento de líneas base.pdf
\Base\Lista de puntos.pdf
\Rover\Derivaciones de puntos.pdf
\Rover\Informe de ajuste de red.pdf
\Rover\Informe de procesamiento de líneas base.pdf
\Rover\Lista de puntos.pdf

### *Registro Fotográfico*

In [13]:
#Verificación Registro Fotografico
foto=fmun+folder+"\\6. Registro Fotografico"
print( "$~---------> 6. Registro Fotografico")
foto0=os.listdir(foto)
print("@@ --->  Registro fotografico : "+str(len(foto0)))
foto0=pd.DataFrame(foto0);print(foto0);print("@---------> Detalle fotografias")
listfoto=[]
for foto in glob.iglob(foto+"\\**\\**.*",recursive=True):
    lista0=foto.split("\\6. Registro Fotografico\\")
    lista0=str(lista0[1])
    listfoto.append(lista0)

listfoto=[i.split('\\') for i in listfoto]
fotog=pd.DataFrame(listfoto)
fotog

$~---------> 6. Registro Fotografico
@@ --->  Registro fotografico : 7
         0
0  FU-0543
1  FU-0544
2  FU-0545
3  FU-0546
4  FU-0547
5  FU-0548
6  FU-0549
@---------> Detalle fotografias

          0                  1
0   FU-0543     FU-0543- E.jpg
1   FU-0543    FU-0543- HI.jpg
2   FU-0543     FU-0543- N.jpg
3   FU-0543     FU-0543- P.jpg
4   FU-0543     FU-0543- S.jpg
5   FU-0543     FU-0543- W.jpg
6   FU-0543          Thumbs.db
7   FU-0544     FU-0544- E.jpg
8   FU-0544     FU-0544- N.jpg
9   FU-0544     FU-0544- P.jpg
10  FU-0544     FU-0544- W.jpg
11  FU-0544          Thumbs.db
12  FU-0545     FU-0545- E.jpg
13  FU-0545    FU-0545- HI.jpg
14  FU-0545     FU-0545- N.jpg
15  FU-0545     FU-0545- P.jpg
16  FU-0545     FU-0545- S.jpg
17  FU-0545     FU-0545- W.jpg
18  FU-0545          Thumbs.db
19  FU-0546     FU-0546- E.jpg
20  FU-0546     FU-0546- N.jpg
21  FU-0546     FU-0546- P.jpg
22  FU-0546     FU-0546- S.jpg
23  FU-0546     FU-0546- W.jpg
24  FU-0546          Thumbs.db
25  FU-0547     FU-0547- E.jpg
26  FU-0547     FU-0547- N.jpg
27  FU-0547     FU-0547- P.jpg
28  FU-0547     FU-0547- S.jpg
29  FU-0547     FU-0547- W.jpg
30  FU-0547          Thumbs.db
31  FU-0548      FU-0548_E.jpg
32  FU-0548      FU-0548_N.jpg
33  FU-0548  FU-0548_P (1).jpg
34  FU-0548  FU-0548_P (2).jpg
35  FU-0548      FU-0548_S.jpg
36  FU-0548      FU-0548_W.jpg
37  FU-0548          Thumbs.db
38  FU-0549      FU-0549_E.jpg
39  FU-0549      FU-0549_N.jpg
40  FU-0549  FU-0549_P (1).jpg
41  FU-0549  FU-0549_P (2).jpg
42  FU-0549  FU-0549_P (3).jpg
43  FU-0549      FU-0549_S.jpg
44  FU-0549      FU-0549_W.jpg
45  FU-0549          Thumbs.db

### *Coordenadas*

##### *Exportar XYZ data*

In [14]:
fcoor=fmun+folder+"\\7. Coordenadas"

for file in glob.iglob(fcoor+"\\*.xlsx",recursive=True):
    dfcoor=pd.read_excel(file,sheet_name='2018.0')
dfcoor=dfcoor.iloc[:,[0,3,4,6,7,8,9,10,11,12,14]]
dfcoor=dfcoor.drop(0)
dfcoor.columns=["NAME","Este","Norte","Latitud","Longitud","elipsoidal","X","Y","Z","Ortometrica","Altura_Elemento"]
dfcoor.to_csv(frev+"\\XYZ.csv",encoding="Latin-1",index=False)
dfcoor

,NAME,Este,Norte,Latitud,Longitud,elipsoidal,X,Y,Z,Ortometrica,Altura_Elemento
1,FU-0543,4696513.437,2278867.039,"6°30'58.75055""","75°44'42.1496""",717.231,1560630.821724,-6142770.310579,719097.383691,694.410,0.10
2,FU-0544,4697774.027,2277162.55,"6°30'3.50609""","75°44'0.83385""",869.666,1561945.948194,-6142790.825579,717428.332691,846.693,3.23
3,FU-0545,4696843.917,2276313.892,"6°29'35.72549""","75°44'30.94615""",838.8,1561065.387194,-6143082.664579,716576.813691,815.967,1.89
4,FU-0546,4695435.407,2275721.192,"6°29'16.18946""","75°45'16.66729""",720.431,1559691.413194,-6143380.309579,715967.078691,697.757,0.00
5,FU-0547,4695030.508,2276531.209,"6°29'42.4767""","75°45'29.98402""",670.983,1559260.236194,-6143344.873579,716763.917691,648.339,0.10
6,FU-0548,4695646.501,2277762.987,"6°30'22.66951""","75°45'10.16084""",672.62,1559816.632724,-6143061.067579,717990.978691,649.920,1.49
7,FU-0549,4696190.181,2277183.893,"6°30'3.92127""","75°44'52.36931""",735.878,1560378.036194,-6143050.650579,717425.858691,713.124,3.14

##### *Comparación con Shapefile*

In [15]:
Dcoor=pd.merge(dfcoor,puntos,on='NAME')
Dcoor["D_Este"]=Dcoor["Este"]-Dcoor["ESTE"];Dcoor["D_Norte"]=Dcoor["Norte"]-Dcoor["NORTE"];Dcoor["D_Ortometrica"]=Dcoor["Ortometrica"]-Dcoor["Altura_Ort"]
Dcoor=Dcoor.iloc[:,[0,14,15,16]]
Dcoor

      NAME D_Este D_Norte  D_Ortometrica
0  FU-0543    0.0     0.0   0.000000e+00
1  FU-0544    0.0     0.0   1.136868e-13
2  FU-0545    0.0     0.0   0.000000e+00
3  FU-0546    0.0     0.0   1.136868e-13
4  FU-0547    0.0     0.0  -1.136868e-13
5  FU-0548    0.0     0.0   0.000000e+00
6  FU-0549    0.0     0.0   0.000000e+00

In [16]:

# prueba rinex -Leer antenas y alturas ** Falta ciclo para leer y compilar
# ruta=r"D:\PROYECTOS 2023\AEROESTUDIOS\INTERVENTORIA GNSS\Municipios\Abejorral\Urbano-Calidad\3. Datos rinex\2022-11-22-326\Rover\CU-0337\U3373268.22o"
# ruta=r"D:\PROYECTOS 2023\AEROESTUDIOS\INTERVENTORIA GNSS\Municipios\Abejorral\Urbano-Calidad\3. Datos rinex"

# for obs in glob.iglob(ruta+"\\**\\**.22o",recursive=True):
#     obs=obs.split(ruta)
#     obs=obs.split("\\")
#     print(obs)

# with open(ruta,"r") as archivo:
#     contenido=archivo.read()
# # print(contenido)
# filas=contenido.split("\n")
# dataf=pd.DataFrame(filas,columns=["colum"])
# dataf