# REPORTE INTERVENTORIA AEROESTUDIOS GNSS

# Urbano Calidad

In [1]:
import os; import pandas as pd;import geopandas as gpd;import glob;import re;import numpy as np

In [2]:
#definir municipio 
mun="\\Sopetran"
fmun=r"D:\PROYECTOS 2023\AEROESTUDIOS\INTERVENTORIA GNSS\Municipios"
frev=fRev=r"D:\PROYECTOS 2023\AEROESTUDIOS\INTERVENTORIA GNSS\Revisión"+mun
fmun=fmun+mun

### *Estructura digital*

In [3]:
folder="\\Urbano-Calidad"
path=fmun+folder
fRuCal=pd.DataFrame(os.listdir(path))
fRuCal

                         0
0    1. Archivo geografico
1    2. Hojas descriptivas
2    2.1 Hoja de ocupacion
3           3. Datos rinex
4         3.1 Datos crudos
5   4. Efemerides precisas
6    5 Reportes de calculo
7  6. Registro Fotografico
8           7. Coordenadas

### *Verificación Shapefile*

In [4]:
#verificación Shapefile
fshp=fmun+folder+"\\1. Archivo geografico"

for filename in glob.iglob(fshp+"\\*.shp"):
    print(filename)
    shp=gpd.read_file(filename)
    name=filename.split('\\1. Archivo geografico\\')
    print("----------> "+name[1]+" puntos: "+str(shp.geometry.count()))
    puntos=shp[["NAME","ESTE","NORTE","Altura_Ort"]]; print(puntos)

D:\PROYECTOS 2023\AEROESTUDIOS\INTERVENTORIA GNSS\Municipios\Sopetran\Urbano-Calidad\1. Archivo geografico\SOPETRAN_Urbano_Calidad.shp
----------> SOPETRAN_Urbano_Calidad.shp puntos: 25
         NAME         ESTE        NORTE  Altura_Ort
0     CU-1134  4696347.701  2278126.223     676.980
1     CU-1135  4696691.093  2277644.397     727.659
2     CU-1136  4697088.548  2277182.688     776.459
3     CU-1137  4695833.757  2277513.028     674.864
4     CU-1138  4696860.130  2276831.530     813.300
5     CU-1139  4695942.988  2276789.544     773.420
6     CU-1140  4695219.992  2276567.241     680.006
7     CU-1141  4696364.662  2277190.215     724.004
8     CU-1142  4696242.453  2276679.592     800.510
9     CU-1143  4695906.599  2277272.920     685.846
10    CU-1144  4696243.804  2277768.738     691.315
11    CU-1145  4696766.003  2277319.123     748.959
12    CU-1146  4697181.806  2277045.824     794.133
13    CU-1147  4695556.630  2276035.398     711.900
14    CU-1148  4695809.918  2276384.877     747.948
15    CU-1149  4695558.918  2277614.554     652.239
16    CU-1150  4695854.778  2278265.898     637.989
17    CU-1151  4696657.016  2278046.696     697.066
18    CU-1152  4696559.972  2278464.940     684.162
19    CU-1153  4696222.717  2276399.876     768.786
20  U-SOPT-01  4696030.925  2278220.347     650.791
21  U-SOPT-02  4696555.856  2277805.522     703.846
22  U-SOPT-03  4696348.112  2277165.083     723.695
23  U-SOPT-04  4695754.091  2276930.271     753.268
24  U-SOPT-05  4696803.686  2277021.213     755.953

### *Verificación Hojas descriptivas*

In [5]:
#Verificación hojas descriptivas ---> comparación con puntos del Shapefile. Devuelve una matriz con los valores que no estan incluidos
hcampo=fmun+folder+"\\2. Hojas descriptivas"
print( "$~-----------> 2 Hojas descriptivas")
files_campo=os.listdir(hcampo)
df_filescampo=pd.DataFrame(files_campo)
Hojas_campo=[i.split('.')[0] for i in files_campo]
print(df_filescampo)
print("Hojas de Descripción:  -->"+str(len(files_campo)))
hone=[x for x in Hojas_campo if x not in puntos.values]
print("@@ COINCIDENCIA HOJAS DE DESCRIPCION @@")
print("@@ --->  Todas las descripciones Coinciden con Shp: "+str(shp.geometry.count())) if len(hone)==0 else print(hone)

$~-----------> 2 Hojas descriptivas
                  0
0       CU-1134.jpg
1       CU-1135.jpg
2       CU-1136.jpg
3       CU-1137.jpg
4       CU-1138.jpg
5       CU-1139.jpg
6       CU-1140.jpg
7       CU-1141.jpg
8       CU-1142.jpg
9       CU-1143.jpg
10      CU-1144.jpg
11      CU-1145.jpg
12      CU-1146.jpg
13      CU-1147.jpg
14      CU-1148.jpg
15      CU-1149.jpg
16      CU-1150.jpg
17      CU-1151.jpg
18      CU-1152.jpg
19      CU-1153.jpg
20  Hojas_mejoradas
21    U-SOPT-01.jpg
22    U-SOPT-02.jpg
23    U-SOPT-03.jpg
24    U-SOPT-04.jpg
25    U-SOPT-05.jpg
Hojas de Descripción:  -->26
@@ COINCIDENCIA HOJAS DE DESCRIPCION @@
['Hojas_mejoradas']

## *Verificiación Hojas de Ocupación*

In [6]:
#Verificación Hojas de ocupación
hcampo1=fmun+folder+"\\2.1 Hoja de ocupacion"
##Base folder 

for base in glob.iglob(hcampo1+"\\**\\**.*",recursive=True):
    hcampo2=base.split("\\2.1 Hoja de ocupacion")
    print(hcampo2[1])
##Rover Folder
files_ocup=os.listdir(hcampo1+"\\Rover") # --> *set de Rover File
files_ocup0=[i.split('.')[0] for i in files_ocup]
print("Hojas de Ocupación:  -->"+str(len(files_ocup)))
hocu=[x for x in files_ocup0 if x not in puntos.values]
print("@@ COINCIDENCIA HOJAS DE OCUPACION @@")
if len(hocu)==0:
    print("@@ --->  Todas las descripciones Coinciden con Shp: "+str(shp.geometry.count())) 
else:
    print("@@ NO COINCIDEN TODAS LAS HOJAS DE OCUPACIÓN  ---->:"+str(len(hocu)))
    print(pd.DataFrame(hocu))

\Base\2023-03-12-071\05761004.jpg
\Base\2023-03-13-072\05761004.jpg
\Base\2023-03-14-073\05761004.jpg
\Base\2023-03-15-074\05761004.jpg
\Base\2023-03-16-075\05761004.jpg
\Rover\CU-1134.jpg
\Rover\CU-1135.jpg
\Rover\CU-1136.jpg
\Rover\CU-1137.jpg
\Rover\CU-1138.jpg
\Rover\CU-1139.jpg
\Rover\CU-1140.jpg
\Rover\CU-1141.jpg
\Rover\CU-1142.jpg
\Rover\CU-1143.jpg
\Rover\CU-1144.jpg
\Rover\CU-1145.jpg
\Rover\CU-1146.jpg
\Rover\CU-1147.jpg
\Rover\CU-1148.jpg
\Rover\CU-1149.jpg
\Rover\CU-1150.jpg
\Rover\CU-1151.jpg
\Rover\CU-1152.jpg
\Rover\CU-1153.jpg
\Rover\U-SOPT-01.jpg
\Rover\U-SOPT-02.jpg
\Rover\U-SOPT-03.jpg
\Rover\U-SOPT-04.jpg
\Rover\U-SOPT-05.jpg
Hojas de Ocupación:  -->25
@@ COINCIDENCIA HOJAS DE OCUPACION @@
@@ --->  Todas las descripciones Coinciden con Shp: 25

### *Verificación archivos Rinex y Raw data*

##### *Rinex Data*

In [7]:
rinex=fmun+folder+"\\3. Datos rinex"
rinexdf=pd.DataFrame(os.listdir(rinex))
print("Carpetas Rinex");print(rinexdf)
listrinex=[]
for rinex1 in glob.iglob(rinex+"\\**\\**.*",recursive=True):
    lista0=rinex1.split("\\3. Datos rinex\\")

    lista0=str(lista0[1])
    listrinex.append(lista0)

listrinex=[i.split('\\') for i in listrinex]
rinex=pd.DataFrame(listrinex)
rinex

puntosunicos=rinex.iloc[:,2].unique()  
print("Puntos: "+str(len(puntosunicos)))
ptosunicos=pd.DataFrame(puntosunicos)
ptosunicos

Carpetas Rinex
                0
0  2023-03-12-071
1  2023-03-13-072
2  2023-03-14-073
3  2023-03-15-074
4  2023-03-16-075
Puntos: 26

            0
0    05761004
1     CU-1149
2     CU-1135
3     CU-1136
4     CU-1144
5     CU-1145
6     CU-1146
7     CU-1134
8     CU-1137
9     CU-1139
10    CU-1141
11    CU-1143
12    CU-1147
13    CU-1148
14    CU-1150
15    CU-1151
16    CU-1152
17    CU-1138
18    CU-1140
19    CU-1142
20    CU-1153
21  U-SOPT-01
22  U-SOPT-02
23  U-SOPT-03
24  U-SOPT-04
25  U-SOPT-05

##### *Raw Data*

In [8]:
raw0=fmun+folder+"\\3.1 Datos crudos"
raw2=pd.DataFrame(os.listdir(raw0))
print("Carpetas Raw Data");print(raw2)
listraw=[]
for raw1 in glob.iglob(raw0+"\\**\\**.*",recursive=True):
       
    lista0=raw1.split("\\3.1 Datos crudos\\")

    lista0=str(lista0[1])
    listraw.append(lista0)

listraw=[i.split('\\') for i in listraw]
raw=pd.DataFrame(listraw)
raw

puntosunicos1=raw.iloc[:,2].unique()  
print("Puntos: "+str(len(puntosunicos1)))
ptosunicos1=pd.DataFrame(puntosunicos1)
ptosunicos1

Carpetas Raw Data
                0
0  2023-03-12-071
1  2023-03-13-072
2  2023-03-14-073
3  2023-03-15-074
4  2023-03-16-075
Puntos: 26

            0
0    05761004
1     CU-1149
2     CU-1135
3     CU-1136
4     CU-1144
5     CU-1145
6     CU-1146
7     CU-1134
8     CU-1137
9     CU-1139
10    CU-1141
11    CU-1143
12    CU-1147
13    CU-1148
14    CU-1150
15    CU-1151
16    CU-1152
17    CU-1138
18    CU-1140
19    CU-1142
20    CU-1153
21  U-SOPT-01
22  U-SOPT-02
23  U-SOPT-03
24  U-SOPT-04
25  U-SOPT-05

#### *Comparación carpetas Rinex y Raw Data*
* *Carpetas por días* 

###### *True=Cumple ~False=No cumple*

In [9]:
#comparación entre df Rinex y Raw

comparacion=rinexdf.isin(raw2.iloc[:,0])
comparacion

      0
0  True
1  True
2  True
3  True
4  True

#### *Comparación carpetas Rinex y Raw Data*
* *Carpetas por puntos*

In [10]:
#comparacion entre subcarpetas
print("@@ --->Concidencia archivos Rinex y Raw Data")
comparacion1=ptosunicos.isin(ptosunicos1.iloc[:,0])
comparacion1

@@ --->Concidencia archivos Rinex y Raw Data

       0
0   True
1   True
2   True
3   True
4   True
5   True
6   True
7   True
8   True
9   True
10  True
11  True
12  True
13  True
14  True
15  True
16  True
17  True
18  True
19  True
20  True
21  True
22  True
23  True
24  True
25  True

### *Verificación Efemerides*

In [11]:
#Verificación Efemerides
fsp3=fmun+folder+"\\4. Efemerides precisas"
print( "$~---------> 4. Efemerides precisas")
for sp3 in glob.iglob(fsp3+"\\**\\**.*",recursive=True):
    print(sp3)

$~---------> 4. Efemerides precisas
D:\PROYECTOS 2023\AEROESTUDIOS\INTERVENTORIA GNSS\Municipios\Sopetran\Urbano-Calidad\4. Efemerides precisas\2023-03-12-071\IGS0OPSRAP_20230710000_01D_15M_ORB.SP3.gz
D:\PROYECTOS 2023\AEROESTUDIOS\INTERVENTORIA GNSS\Municipios\Sopetran\Urbano-Calidad\4. Efemerides precisas\2023-03-13-072\IGS0OPSRAP_20230720000_01D_15M_ORB.SP3.gz
D:\PROYECTOS 2023\AEROESTUDIOS\INTERVENTORIA GNSS\Municipios\Sopetran\Urbano-Calidad\4. Efemerides precisas\2023-03-14-073\IGS0OPSRAP_20230730000_01D_15M_ORB.SP3.gz
D:\PROYECTOS 2023\AEROESTUDIOS\INTERVENTORIA GNSS\Municipios\Sopetran\Urbano-Calidad\4. Efemerides precisas\2023-03-15-074\IGS0OPSRAP_20230740000_01D_15M_ORB.SP3.gz
D:\PROYECTOS 2023\AEROESTUDIOS\INTERVENTORIA GNSS\Municipios\Sopetran\Urbano-Calidad\4. Efemerides precisas\2023-03-16-075\IGS0OPSRAP_20230750000_01D_15M_ORB.SP3.gz

### *Reportes de calculo*

In [12]:
fpdf=fmun+folder+"\\5. Reportes de calculo"
print(fpdf)
print( "$~---------> 5. Reportes de calculo")
for pdf in glob.iglob(fpdf+"\\**\\**.*",recursive=True):
    print(pdf.split("5. Reportes de calculo")[1])

D:\PROYECTOS 2023\AEROESTUDIOS\INTERVENTORIA GNSS\Municipios\Sopetran\Urbano-Calidad\5. Reportes de calculo
$~---------> 5. Reportes de calculo

### *Registro Fotográfico*

In [13]:
#Verificación Registro Fotografico
foto=fmun+folder+"\\6. Registro Fotografico"
print( "$~---------> 6. Registro Fotografico")
foto0=os.listdir(foto)
print("@@ --->  Registro fotografico : "+str(len(foto0)))
foto0=pd.DataFrame(foto0);print(foto0);print("@---------> Detalle fotografias")
listfoto=[]
for foto in glob.iglob(foto+"\\**\\**.*",recursive=True):
    lista0=foto.split("\\6. Registro Fotografico\\")
    lista0=str(lista0[1])
    listfoto.append(lista0)

listfoto=[i.split('\\') for i in listfoto]
fotog=pd.DataFrame(listfoto)
fotog

$~---------> 6. Registro Fotografico
@@ --->  Registro fotografico : 25
            0
0     CU-1134
1     CU-1135
2     CU-1136
3     CU-1137
4     CU-1138
5     CU-1139
6     CU-1140
7     CU-1141
8     CU-1142
9     CU-1143
10    CU-1144
11    CU-1145
12    CU-1146
13    CU-1147
14    CU-1148
15    CU-1149
16    CU-1150
17    CU-1151
18    CU-1152
19    CU-1153
20  U-SOPT-01
21  U-SOPT-02
22  U-SOPT-03
23  U-SOPT-04
24  U-SOPT-05
@---------> Detalle fotografias

             0                  1
0      CU-1134     CU-1134- E.jpg
1      CU-1134    CU-1134- HI.jpg
2      CU-1134     CU-1134- P.jpg
3      CU-1134     CU-1134- S.jpg
4      CU-1134     CU-1134- W.jpg
..         ...                ...
152  U-SOPT-05  U-SOPT-05- HI.jpg
153  U-SOPT-05   U-SOPT-05- N.jpg
154  U-SOPT-05   U-SOPT-05- P.jpg
155  U-SOPT-05   U-SOPT-05- S.jpg
156  U-SOPT-05   U-SOPT-05- W.jpg

[157 rows x 2 columns]

### *Coordenadas*

##### *Exportar XYZ data*

In [14]:
fcoor=fmun+folder+"\\7. Coordenadas"

for file in glob.iglob(fcoor+"\\*.xlsx",recursive=True):
    dfcoor=pd.read_excel(file,sheet_name='2018.0')
dfcoor=dfcoor.iloc[:,[0,3,4,6,7,8,9,10,11,12,14]]
dfcoor=dfcoor.drop(0)
dfcoor.columns=["NAME","Este","Norte","Latitud","Longitud","elipsoidal","X","Y","Z","Ortometrica","Altura_Elemento"]
dfcoor.to_csv(frev+"\\XYZ.csv",encoding="Latin-1",index=False)
dfcoor

,NAME,Este,Norte,Latitud,Longitud,elipsoidal,X,Y,Z,Ortometrica,Altura_Elemento
1,CU-1134,4696347.701,2278126.223,"6°30'34.61396""","75°44'47.41094""",699.76,1560490.568724,-6142874.814579,718358.651691,676.980,0.00
2,CU-1135,4696691.093,2277644.397,"6°30'18.99532""","75°44'36.15311""",750.485,1560851.645194,-6142891.187579,717887.647691,727.659,0.00
3,CU-1136,4697088.548,2277182.688,"6°30'4.04069""","75°44'23.14008""",799.336,1561263.964194,-6142890.176579,717436.688691,776.459,0.00
4,CU-1137,4695833.757,2277513.028,"6°30'14.5687""","75°45'4.02405""",697.58,1560012.444194,-6143066.021579,717746.532691,674.864,0.00
5,CU-1138,4696860.13,2276831.53,"6°29'52.57314""","75°44'30.5099""",836.141,1561063.307194,-6143020.050579,717090.801691,813.300,0.00
6,CU-1139,4695942.988,2276789.544,"6°29'51.04486""","75°45'0.34211""",796.142,1560166.347194,-6143212.394579,717039.623691,773.420,0.00
7,CU-1140,4695219.992,2276567.241,"6°29'43.6828""","75°45'23.82556""",702.664,1559450.371194,-6143324.762579,716804.317691,680.006,0.00
8,CU-1141,4696364.662,2277190.215,"6°30'4.15786""","75°44'46.69356""",746.78,1560549.537194,-6143017.412579,717434.314691,724.004,0.00
9,CU-1142,4696242.453,2276679.592,"6°29'47.51982""","75°44'50.57947""",823.265,1560466.759194,-6143176.540579,716935.088691,800.510,0.05
10,CU-1143,4695906.599,2277272.92,"6°30'6.76816""","75°45'1.61157""",708.569,1560093.662194,-6143084.664579,717509.667691,685.846,0.00
11,CU-1144,4696243.804,2277768.738,"6°30'22.96246""","75°44'50.72808""",714.08,1560405.270724,-6142953.022579,718004.618691,691.315,0.00
12,CU-1145,4696766.003,2277319.123,"6°30'8.42361""","75°44'33.65841""",771.793,1560940.215194,-6142928.483579,717567.359691,748.959,0.00
13,CU-1146,4697181.806,2277045.824,"6°29'59.60333""","75°44'20.08174""",817.022,1561363.177194,-6142899.016579,717303.238691,794.133,0.00
14,CU-1147,4695556.63,2276035.398,"6°29'26.43556""","75°45'12.77889""",734.584,1559801.930194,-6143330.053579,716281.447691,711.900,0.24
15,CU-1148,4695809.918,2276384.877,"6°29'37.8529""","75°45'4.60002""",770.653,1560044.585194,-6143264.493579,716634.047691,747.948,0.00
16,CU-1149,4695558.918,2277614.554,"6°30'17.82381""","75°45'12.9841""",674.93,1559737.264724,-6143100.989579,717843.327691,652.239,0.21
17,CU-1150,4695854.778,2278265.898,"6°30'39.07184""","75°45'3.47351""",660.71,1559998.824724,-6142943.661579,718490.297691,637.989,0.00
18,CU-1151,4696657.016,2278046.696,"6°30'32.08073""","75°44'37.33292""",719.891,1560797.803724,-6142826.498579,718283.608691,697.066,0.00
19,CU-1152,4696559.972,2278464.94,"6°30'45.67389""","75°44'40.56434""",706.978,1560686.747724,-6142792.619579,718697.066691,684.162,0.07
20,CU-1153,4696222.717,2276399.876,"6°29'38.41393""","75°44'51.1722""",791.537,1560449.136194,-6143181.143579,716653.535691,768.786,0.50
21,U-SOPT-01,4696030.925,2278220.347,"6°30'37.62079""","75°44'57.73427""",673.533,1560174.129724,-6142917.500579,718447.459691,650.791,2.40
22,U-SOPT-02,4696555.856,2277805.522,"6°30'24.21467""","75°44'40.58165""",726.654,1560709.451194,-6142884.139579,718044.266691,703.846,0.00
23,U-SOPT-03,4696348.112,2277165.083,"6°30'3.3371""","75°44'47.22759""",746.468,1560534.259194,-6143023.919579,717409.225691,723.695,0.00
24,U-SOPT-04,4695754.091,2276930.271,"6°29'55.59089""","75°45'6.51284""",775.972,1559973.740194,-6143224.322579,717176.110691,753.268,0.00
25,U-SOPT-05,4696803.686,2277021.213,"6°29'58.73579""","75°44'32.37981""",778.788,1560988.305194,-6142958.203579,717272.428691,755.953,0.00

##### *Comparación con Shapefile*

In [15]:
Dcoor=pd.merge(dfcoor,puntos,on='NAME')
Dcoor["D_Este"]=Dcoor["Este"]-Dcoor["ESTE"];Dcoor["D_Norte"]=Dcoor["Norte"]-Dcoor["NORTE"];Dcoor["D_Ortometrica"]=Dcoor["Ortometrica"]-Dcoor["Altura_Ort"]
Dcoor=Dcoor.iloc[:,[0,14,15,16]]
Dcoor

         NAME D_Este D_Norte  D_Ortometrica
0     CU-1134    0.0     0.0   0.000000e+00
1     CU-1135    0.0     0.0   0.000000e+00
2     CU-1136    0.0     0.0   1.136868e-13
3     CU-1137    0.0     0.0   0.000000e+00
4     CU-1138    0.0     0.0   0.000000e+00
5     CU-1139    0.0     0.0   1.136868e-13
6     CU-1140    0.0     0.0   0.000000e+00
7     CU-1141    0.0     0.0   0.000000e+00
8     CU-1142    0.0     0.0   0.000000e+00
9     CU-1143    0.0     0.0   0.000000e+00
10    CU-1144    0.0     0.0   0.000000e+00
11    CU-1145    0.0     0.0   1.136868e-13
12    CU-1146    0.0     0.0   0.000000e+00
13    CU-1147    0.0     0.0   0.000000e+00
14    CU-1148    0.0     0.0   0.000000e+00
15    CU-1149    0.0     0.0  -1.136868e-13
16    CU-1150    0.0     0.0   0.000000e+00
17    CU-1151    0.0     0.0  -1.136868e-13
18    CU-1152    0.0     0.0  -1.136868e-13
19    CU-1153    0.0     0.0   1.136868e-13
20  U-SOPT-01    0.0     0.0   0.000000e+00
21  U-SOPT-02    0.0     0.0   0.000000e+00
22  U-SOPT-03    0.0     0.0  -1.136868e-13
23  U-SOPT-04    0.0     0.0   0.000000e+00
24  U-SOPT-05    0.0     0.0   0.000000e+00

In [16]:

# prueba rinex -Leer antenas y alturas ** Falta ciclo para leer y compilar
# ruta=r"D:\PROYECTOS 2023\AEROESTUDIOS\INTERVENTORIA GNSS\Municipios\Abejorral\Urbano-Calidad\3. Datos rinex\2022-11-22-326\Rover\CU-0337\U3373268.22o"
# ruta=r"D:\PROYECTOS 2023\AEROESTUDIOS\INTERVENTORIA GNSS\Municipios\Abejorral\Urbano-Calidad\3. Datos rinex"

# for obs in glob.iglob(ruta+"\\**\\**.22o",recursive=True):
#     obs=obs.split(ruta)
#     obs=obs.split("\\")
#     print(obs)

# with open(ruta,"r") as archivo:
#     contenido=archivo.read()
# # print(contenido)
# filas=contenido.split("\n")
# dataf=pd.DataFrame(filas,columns=["colum"])
# dataf